@scope (.q-and-a-card) to (footer) {
	:scope {
		--font-color: #e63946;
		border: 3px solid var(--font-color);
		border-radius: 6px;
		padding: 1em;
	}

	p {
		color: rgb(from var(--font-color) r g b / 90%);
		font-size: 1.3rem;
	}

	.question {
		font-size: 1.3rem;
	}

	.answer {
		font-size: 1.1rem;
	}
}
