@layer reset, base, layout, components;
@import url('./components/qAndACard/qAndACard.css');
:root {
	--font-color: #a259f7;
}

@layer reset {
	/* 1. Use a more-intuitive box-sizing model */
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	/* 2. Remove default margin */
	* {
		margin: 0;
	}

	body {
		/* 3. Add accessible line-height */
		line-height: 1.5;
		/* 4. Improve text rendering */
		-webkit-font-smoothing: antialiased;
	}

	/* 5. Improve media defaults */
	img,
	picture,
	video,
	canvas,
	svg {
		display: block;
		max-width: 100%;
	}

	/* 6. Inherit fonts for form controls */
	input,
	button,
	textarea,
	select {
		font: inherit;
	}

	/* 7. Avoid text overflows */
	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		overflow-wrap: break-word;
	}

	/* 8. Improve line wrapping */
	p {
		text-wrap: pretty;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-wrap: balance;
	}

	/*
  9. Create a root stacking context
*/
	#app {
		isolation: isolate;
	}
}

@layer base {
	*:not(h1, h2, h3, h4, h5, h6) {
		font-size: 1.07rem;
	}
	h1 {
		margin-block: 1rem;
		font-size: 2rem;
	}
	h2 {
		margin-block-end: 0.7rem;
		font-size: 1.5rem;
		color: var(--font-color);
	}

	details {
		cursor: pointer;
	}

	a {
		text-decoration: none;
	}

	p {
		margin-block: 0.7rem;
		color: #252525;
	}

	button {
		font-size: 1.1rem;
		cursor: pointer;
		padding: 0.5em 1em;
		background-color: var(--font-color);
		color: white;
		border: 4px solid color-mix(in srgb, var(--font-color), black 20%);
		border-radius: 15px;

		&:hover {
			background-color: color-mix(in srgb, var(--font-color), black 20%);
		}

		&:focus-visible {
			outline: none;
		}
	}

	article {
		p:nth-child(1) {
			&::first-letter {
				initial-letter: 3;
			}
		}
		p:nth-child(2) {
			&::first-letter {
				initial-letter: 3 1;
			}
		}
		p:nth-child(3) {
			&::first-letter {
				initial-letter: 3 2;
			}
		}
		p:nth-child(4) {
			&::first-letter {
				initial-letter: 3 4;
			}
		}
	}

	.popover {
		width: 90%;
		max-width: 478px;
		padding: 1em;
		display: flex;
		flex-direction: column;
		align-self: center;
		align-items: center;
		justify-self: center;
		background-color: color-mix(in srgb, var(--font-color), white 40%);
		border: 4px solid color-mix(in srgb, var(--font-color), black 20%);
		border-radius: 15px;
		color: #fff;
		opacity: 0;
		transform: scale(0.8); /* Example: start smaller */
		transition: opacity 0.1s ease-out, transform 0.1s ease-out;

		&:popover-open {
			opacity: 1;
			transform: scale(1);
		}
	}
}

@layer layout {
	main {
		padding-inline: 4rem;
	}

	header {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-block-end: 1rem;
	}

	section {
		display: flex;
		flex-direction: column;
		padding-inline: 2rem;
		margin-block: 2rem;
	}

	topic-section {
		display: block;
		margin-block-end: 4rem;
	}
}

@layer components {
	#tldr {
		display: flex;
		flex-direction: column;
		align-items: center;

		summary h2 {
			display: inline-block;
		}

		li {
			margin-block-end: 0.5rem;
		}
	}
}
